**SERIES DE TIEMPO EN DATAFRAME

In [13]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import pytz

In [9]:
zona=pytz.timezone("America/Lima")
hoy=datetime.now(zona)

In [10]:
hoy.year

2025

In [11]:
inicio_fecha=datetime(2018,2,7)
inicio_fecha-timedelta(12)

datetime.datetime(2018, 1, 26, 0, 0)

Conversiones tipo de variable str a dato horario

In [12]:
valor="2018-01-7"
datetime.strptime(valor,"%Y-%m-%d")

datetime.datetime(2018, 1, 7, 0, 0)

In [35]:
fechas=[datetime(2012,1,3),
        datetime(2012,1,4),
        datetime(2012,1,7),
        datetime(2012,1,8),
        datetime(2012,1,9),
        datetime(2012,1,10),
        ]
ts=pd.Series(np.random.standard_normal(6),index=fechas)

SELECCION DE VALORES DENTRO DEL DF

In [17]:
ts["2012-01-04"]

np.float64(-0.1450831273615309)

VALORES MAS LARGOS DE SERIES DE TIEMPO

In [21]:
large_ts=pd.Series(np.random.standard_normal(1000),
                    index=pd.date_range("2008-01-10",
                    periods=1000)
                   )
large_ts["2009-08"]
large_ts["2009"]

2009-08-01    0.394750
2009-08-02   -1.794238
2009-08-03    0.714160
2009-08-04    1.187003
2009-08-05    0.804363
2009-08-06    1.552351
2009-08-07   -0.970025
2009-08-08   -1.368155
2009-08-09    0.734601
2009-08-10   -1.042010
2009-08-11    0.876942
2009-08-12   -0.590901
2009-08-13    0.733382
2009-08-14   -0.640079
2009-08-15    0.477456
2009-08-16    0.655175
2009-08-17   -0.517900
2009-08-18    0.657042
2009-08-19   -0.574359
2009-08-20   -0.027443
2009-08-21    0.873371
2009-08-22   -0.465049
2009-08-23   -0.256925
2009-08-24    0.361969
2009-08-25   -0.284510
2009-08-26   -0.603471
2009-08-27    0.282166
2009-08-28   -0.373219
2009-08-29    1.776448
2009-08-30    1.113410
2009-08-31    0.294692
Freq: D, dtype: float64

In [22]:
large_ts[datetime(2009,2,7):]

2009-02-07    0.911131
2009-02-08    0.423789
2009-02-09   -0.670522
2009-02-10   -0.058072
2009-02-11   -1.081870
                ...
2010-10-01   -0.264419
2010-10-02    0.642473
2010-10-03    1.077577
2010-10-04    1.224099
2010-10-05   -1.607847
Freq: D, Length: 606, dtype: float64

In [23]:
large_ts[datetime(2009,2,7):datetime(2010,2,7)]

2009-02-07    0.911131
2009-02-08    0.423789
2009-02-09   -0.670522
2009-02-10   -0.058072
2009-02-11   -1.081870
                ...
2010-02-03    1.060776
2010-02-04    0.418573
2010-02-05   -0.299597
2010-02-06    0.136998
2010-02-07   -1.743858
Freq: D, Length: 366, dtype: float64

In [26]:
large_ts.truncate(before="2009-08-07")

2009-08-07   -0.970025
2009-08-08   -1.368155
2009-08-09    0.734601
2009-08-10   -1.042010
2009-08-11    0.876942
                ...
2010-10-01   -0.264419
2010-10-02    0.642473
2010-10-03    1.077577
2010-10-04    1.224099
2010-10-05   -1.607847
Freq: D, Length: 425, dtype: float64

ENCONTRAR VALORES DUPLICADOS EN INDICES

In [33]:

fecha=pd.DatetimeIndex(["2008-08-07",
                        "2008-08-08","2008-08-08",
                        "2008-08-10"
])

dp_ts=pd.Series(np.arange(4),index=fecha)
dp_ts["2008-08-08"]
#dp_ts.index.is_unique

2008-08-08    1
2008-08-08    2
dtype: int64

Rangos de fechas frecuencias y cambios

In [36]:
ts

2012-01-03   -0.038439
2012-01-04    0.697024
2012-01-07    0.968498
2012-01-08    0.702550
2012-01-09   -0.097408
2012-01-10    0.897726
dtype: float64

In [38]:
muestrear=ts.resample("D") #iNDCICACION LA FRECUENCIA : D : DIARY
muestrear