In [1]:
import pandas as pd
import numpy as np

In [3]:
pd.read_csv('personas.csv')

   Nombre  Edad    Ciudad
0     Ana  28.0      Lima
1    Luis  35.0     Cusco
2  Carlos   NaN  Arequipa
3   María  22.0      Lima
4   Jorge  40.0  Trujillo

ORGANIZACION DE DATOS: UNIR, COMBINAR Y REMODELAR DATAFRAMES

In [12]:
#indexacion jerarquica
#dtaframe ejes 0=filas, 1=columnas
data=pd.Series(np.random.uniform(size=9),index=[["a","a","a","b","b","c","c","c","c"],[1,2,3,2,1,3,1,2,1]])
data

a  1    0.526373
   2    0.160391
   3    0.488742
b  2    0.703248
   1    0.441434
c  3    0.937043
   1    0.206493
   2    0.214931
   1    0.822066
dtype: float64

In [13]:
#"a","a","a","b","b","c","c","c","c"],[1,2,3,2,1,3,1,2,1]
data.index([('a',1),('a',2),('a',3),('b',2),('b',1),('c',3),('c',1),('c',2),('c',1)])

TypeError: 'MultiIndex' object is not callable

In [14]:
data.index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 2),
            ('b', 1),
            ('c', 3),
            ('c', 1),
            ('c', 2),
            ('c', 1)],
           )

In [15]:
data['b']

2    0.703248
1    0.441434
dtype: float64

In [24]:
df=pd.DataFrame(np.arange(15).reshape(5,3),index=[["a","a","a","b","b"],[1,2,3,
                                 1,2]],columns=[["Lima","Lima","Ica"],
                                     ["Distr 1","Distr 2","Distr"] ])
df

       Lima           Ica
    Distr 1 Distr 2 Distr
a 1       0       1     2
  2       3       4     5
  3       6       7     8
b 1       9      10    11
  2      12      13    14

In [25]:
df.index.names=["prop","subprop"]
df.columns.names=["ciudad","district"]
df

ciudad          Lima           Ica
district     Distr 1 Distr 2 Distr
prop subprop
a    1             0       1     2
     2             3       4     5
     3             6       7     8
b    1             9      10    11
     2            12      13    14

VISUALIZACION DATOS EN PLOT