In [2]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\anthony\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (2.3.1)
Requirement already satisfied: numpy>=1.26.0 in c:\users\anthony\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\anthony\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\anthony\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\anthony\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\anthony\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install numpy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in c:\users\anthony\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (2.3.2)
Note: you may need to restart the kernel to use updated packages.

Diccionario para crear un dataframe

In [3]:
#10 datos de mascotas, edades, visitas y prioridades (VETERINARIA)
import numpy as np
import pandas as pd

In [4]:
data = {
        'animal':['gato','gato','conejo','perro','perro','gato',
                  'conejo','gato','perro','perro'],
        'edad':[2.5,3,0.5,np.nan,5,2,4,np.nan,7,3],
        'visitas':[1,3,2,3,2,3,1,1,2,1],
        'prioridad':['si','no','si','si','si','no','no','no',
                     'si','si']
}

indc=['a','b','c','d','e','f','g','h','i','j']

In [6]:
#crear un dataframe DF con el indc
df=pd.DataFrame(data,index=indc)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   animal     10 non-null     object
 1   edad       8 non-null      float64
 2   visitas    10 non-null     int64
 3   prioridad  10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes

In [7]:
df.describe()

           edad    visitas
count  8.000000  10.000000
mean   3.375000   1.900000
std    1.977553   0.875595
min    0.500000   1.000000
25%    2.375000   1.000000
50%    3.000000   2.000000
75%    4.250000   2.750000
max    7.000000   3.000000

In [15]:
#Retornas las 3 primeras filas del df : iloc
#df.iloc[:3]
#iloc> filas
df.head()

   animal  edad  visitas prioridad
a    gato   2.5        1        si
b    gato   3.0        3        no
c  conejo   0.5        2        si
d   perro   NaN        3        si
e   perro   5.0        2        si

In [10]:
#tipo animal y edad
#loc: columnas
df.loc[:,['animal','edad']]

   animal  edad
a    gato   2.5
b    gato   3.0
c  conejo   0.5
d   perro   NaN
e   perro   5.0
f    gato   2.0
g  conejo   4.0
h    gato   NaN
i   perro   7.0
j   perro   3.0

In [ ]:
#loc y index: tomar parte de la data
df.loc[df.index[[3,4,8]],['animal','visitas']]

  animal  visitas
d  perro        3
e  perro        2
i  perro        2

In [14]:
#Comparaciones en visitas
df[df['visitas']<3]

   animal  edad  visitas prioridad
a    gato   2.5        1        si
c  conejo   0.5        2        si
e   perro   5.0        2        si
g  conejo   4.0        1        no
h    gato   NaN        1        no
i   perro   7.0        2        si
j   perro   3.0        1        si

In [16]:
#isnull para identificar los NaN: edad
df[df['edad'].isnull()]

  animal  edad  visitas prioridad
d  perro   NaN        3        si
h   gato   NaN        1        no

In [7]:
#Identificar las filas que sea el animal gato y la edad <3
df[(df['animal']=='gato')&(df['edad']<3)]

  animal  edad  visitas prioridad
a   gato   2.5        1        si
f   gato   2.0        3        no

In [8]:
#Un rango de edad de las mascotas para gato que este entre 2 y 4
#beetwen: entre
df[(df['animal']=='gato')&(df['edad'].between(2,4))]

  animal  edad  visitas prioridad
a   gato   2.5        1        si
b   gato   3.0        3        no
f   gato   2.0        3        no

In [ ]:
#Cambiar en fila "b" la edad