<h1 style="color:blue" align="center">Pandas Time Series : Period y PeriodIndex</h1>

<h3 style="color:purple">Yearly Period</h3>

In [4]:
import pandas as pd
y = pd.Period('2017')
y

Period('2017', 'Y-DEC')

In [5]:
y.start_time

Timestamp('2017-01-01 00:00:00')

In [6]:
y.end_time

Timestamp('2017-12-31 23:59:59.999999999')

In [7]:
y.is_leap_year

False

<h3 style="color:purple">Monthly Period</h3>

In [8]:
m = pd.Period('2017-12')
m

Period('2017-12', 'M')

In [9]:
m.start_time

Timestamp('2017-12-01 00:00:00')

In [10]:
m.end_time

Timestamp('2017-12-31 23:59:59.999999999')

In [11]:
m+1

Period('2018-01', 'M')

<h3 style="color:purple">Daily Period</h3>

In [66]:
d = pd.Period('2016-02-28', freq='D')
d

Period('2016-02-28', 'D')

In [67]:
d.start_time

Timestamp('2016-02-28 00:00:00')

In [68]:
d.end_time

Timestamp('2016-02-28 23:59:59.999999999')

In [69]:
d+1

Period('2016-02-29', 'D')

<h3 style="color:purple">Hourly Period</h3>

In [12]:
h = pd.Period('2017-08-15 23:00:00',freq='H')
h

C:\Users\Anthony\AppData\Local\Temp\ipykernel_22768\4112825224.py:1: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  h = pd.Period('2017-08-15 23:00:00',freq='H')

Period('2017-08-15 23:00', 'h')

In [13]:
h+1

Period('2017-08-16 00:00', 'h')

<h4>Obtenga los mismos resultados utilizando las compensaciones horarias de Pandas</h4>

In [34]:
h+pd.offsets.Hour(1)

Period('2017-08-16 00:00', 'H')

<h3 style="color:purple">Quarterly Period</h3>

In [17]:
q1= pd.Period('2017Q1', freq='Q-FEB')
q1

Period('2017Q1', 'Q-FEB')

In [18]:
q1.start_time

Timestamp('2016-03-01 00:00:00')

In [19]:
q1.end_time

Timestamp('2016-05-31 23:59:59.999999999')

<h4>Utilice asfreq para convertir el per√≠odo a una frecuencia diferente</h4>

In [20]:
q1.asfreq('M',how='start')

Period('2016-03', 'M')

In [21]:
q1.asfreq('M',how='end')

Period('2016-05', 'M')

<h3 style="color:purple">Weekly Period</h3>

In [24]:
w = pd.Period('2017-07-08',freq='W')
w

Period('2017-07-03/2017-07-09', 'W-SUN')

In [25]:
w-1

Period('2017-06-26/2017-07-02', 'W-SUN')

In [27]:
w2 = pd.Period('2017-08-17',freq='W')
w2

Period('2017-08-14/2017-08-20', 'W-SUN')

In [28]:
w2-w

<h3 style="color:purple">PeriodIndex and period_range</h3>

In [30]:
r = pd.period_range('2011', '2017', freq='Q')
r

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
             '2012Q3', '2012Q4', '2013Q1', '2013Q2', '2013Q3', '2013Q4',
             '2014Q1', '2014Q2', '2014Q3', '2014Q4', '2015Q1', '2015Q2',
             '2015Q3', '2015Q4', '2016Q1', '2016Q2', '2016Q3', '2016Q4',
             '2017Q1'],
            dtype='period[Q-DEC]')

In [31]:
r[0].start_time

Timestamp('2011-01-01 00:00:00')

In [32]:
r[0].end_time

Timestamp('2011-03-31 23:59:59.999999999')

**El a√±o fiscal de Walmart termina en enero, a continuaci√≥n se muestra c√≥mo se generan los trimestres fiscales de Walmart entre 2011 y 2017**

In [37]:
r = pd.period_range('2011', '2017', freq='q-dec')
r

C:\Users\Anthony\AppData\Local\Temp\ipykernel_22768\766881672.py:1: FutureWarning: 'q-dec' is deprecated and will be removed in a future version, please use 'Q-DEC' instead.
  r = pd.period_range('2011', '2017', freq='q-dec')

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
             '2012Q3', '2012Q4', '2013Q1', '2013Q2', '2013Q3', '2013Q4',
             '2014Q1', '2014Q2', '2014Q3', '2014Q4', '2015Q1', '2015Q2',
             '2015Q3', '2015Q4', '2016Q1', '2016Q2', '2016Q3', '2016Q4',
             '2017Q1'],
            dtype='period[Q-DEC]')

In [33]:
r[0].start_time

Timestamp('2011-01-01 00:00:00')

In [34]:
r[0].end_time

Timestamp('2011-03-31 23:59:59.999999999')

In [9]:
r = pd.period_range(start="2016-01",freq='3M',periods=10)
r

PeriodIndex(['2016-01', '2016-04', '2016-07', '2016-10', '2017-01', '2017-04',
             '2017-07', '2017-10', '2018-01', '2018-04'],
            dtype='period[3M]')

In [56]:
import numpy as np
ps = pd.Series(np.random.randn(len(r)), r)
ps

2016-01   -0.607785
2016-04   -0.018118
2016-07    0.211759
2016-10   -0.169888
2017-01   -0.012162
2017-04    0.881068
2017-07   -0.169787
2017-10    0.600402
2018-01   -0.298970
2018-04    0.744659
Freq: 3M, dtype: float64

<h4>Indexaci√≥n parcial</h4>

In [57]:
ps['2016']

2016-01   -0.607785
2016-04   -0.018118
2016-07    0.211759
2016-10   -0.169888
Freq: 3M, dtype: float64

In [58]:
ps['2016':'2017']

2016-01   -0.607785
2016-04   -0.018118
2016-07    0.211759
2016-10   -0.169888
2017-01   -0.012162
2017-04    0.881068
2017-07   -0.169787
2017-10    0.600402
Freq: 3M, dtype: float64

<h4>Conversi√≥n entre representaciones</h4>

In [59]:
pst = ps.to_timestamp()
pst

2016-01-01   -0.607785
2016-04-01   -0.018118
2016-07-01    0.211759
2016-10-01   -0.169888
2017-01-01   -0.012162
2017-04-01    0.881068
2017-07-01   -0.169787
2017-10-01    0.600402
2018-01-01   -0.298970
2018-04-01    0.744659
Freq: QS-OCT, dtype: float64

In [60]:
pst.index

DatetimeIndex(['2016-01-01', '2016-04-01', '2016-07-01', '2016-10-01',
               '2017-01-01', '2017-04-01', '2017-07-01', '2017-10-01',
               '2018-01-01', '2018-04-01'],
              dtype='datetime64[ns]', freq='QS-OCT')

In [61]:
ps = pst.to_period()
ps

2016Q1   -0.607785
2016Q2   -0.018118
2016Q3    0.211759
2016Q4   -0.169888
2017Q1   -0.012162
2017Q2    0.881068
2017Q3   -0.169787
2017Q4    0.600402
2018Q1   -0.298970
2018Q2    0.744659
Freq: Q-DEC, dtype: float64

In [62]:
ps.index

PeriodIndex(['2016Q1', '2016Q2', '2016Q3', '2016Q4', '2017Q1', '2017Q2',
             '2017Q3', '2017Q4', '2018Q1', '2018Q2'],
            dtype='period[Q-DEC]')

<h3 style="color:purple">Procesamiento de las finanzas de Wal-Mart</h3>

In [15]:
import pandas as pd
df = pd.read_csv("wmt.csv")
df

  Line Item  2017Q2  2017Q3  2017Q4  2017Q1  2018Q2
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87484   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [16]:
df.set_index("Line Item",inplace=True)
df = df.T
df

Line Item  Revenue  Expenses  Profit
2017Q2      115904     86544   29360
2017Q3      120854     89485   31369
2017Q4      118179     87484   30695
2017Q1      130936     97743   33193
2018Q2      117542     87688   29854

In [17]:
df.index = pd.PeriodIndex(df.index, freq="Q-JAN")
df

Line Item  Revenue  Expenses  Profit
2017Q2      115904     86544   29360
2017Q3      120854     89485   31369
2017Q4      118179     87484   30695
2017Q1      130936     97743   33193
2018Q2      117542     87688   29854

In [18]:
df.index

PeriodIndex(['2017Q2', '2017Q3', '2017Q4', '2017Q1', '2018Q2'], dtype='period[Q-JAN]')

In [19]:
df.index[0].start_time

Timestamp('2016-05-01 00:00:00')

<h4 style="color:green">Agregar columnas de fecha de inicio y fecha de finalizaci√≥n al marco de datos</h4>

In [20]:
df["Start Date"]=df.index.map(lambda x: x.start_time)
df

Line Item  Revenue  Expenses  Profit Start Date
2017Q2      115904     86544   29360 2016-05-01
2017Q3      120854     89485   31369 2016-08-01
2017Q4      118179     87484   30695 2016-11-01
2017Q1      130936     97743   33193 2016-02-01
2018Q2      117542     87688   29854 2017-05-01

In [82]:
df["End Date"]=df.index.map(lambda x: x.end_time)
df

Line Item  Revenue  Expenses  Profit Start Date                      End Date
2017Q1      115904     86544   29360 2016-02-01 2016-04-30 23:59:59.999999999
2017Q2      120854     89485   31369 2016-05-01 2016-07-31 23:59:59.999999999
2017Q3      118179     87484   30695 2016-08-01 2016-10-31 23:59:59.999999999
2017Q4      130936     97743   33193 2016-11-01 2017-01-31 23:59:59.999999999
2018Q1      117542     87688   29854 2017-02-01 2017-04-30 23:59:59.999999999