In [8]:
import pandas as pd
import numpy as np

In [66]:
# 1 Carga del dataset: Leer el CSV en un DataFrame.
df = pd.read_csv('Top_1000_IMDb_movies_New_version.csv')
print(df)

     Unnamed: 0                       Movie Name Year of Release  Watch Time  \
0             0         The Shawshank Redemption            1994         142
1             1                    The Godfather            1972         175
2             2                  The Dark Knight            2008         152
3             3                 Schindler's List            1993         195
4             4                     12 Angry Men            1957          96
..          ...                              ...             ...         ...
995         995                        Philomena            2013          98
996         996  Un long dimanche de fiançailles            2004         133
997         997                            Shine            1996         105
998         998                The Invisible Man            1933          71
999         999                        Celda 211            2009         113

     Movie Rating  Metascore of movie   Gross      Votes  \
0             9.3                82.0   28.34  27,77,378
1             9.2               100.0  134.97  19,33,588
2             9.0                84.0  534.86  27,54,087
3             9.0                95.0    96.9  13,97,886
4             9.0                97.0    4.36   8,24,211
..            ...                 ...     ...        ...
995           7.6                77.0   37.71   1,02,336
996           7.6                76.0    6.17     75,004
997           7.6                87.0   35.81     55,589
998           7.6                87.0     NaN     37,822
999           7.6                 NaN     NaN     69,464

                                           Description
0    Over the course of several years, two convicts...
1    Don Vito Corleone, head of a mafia family, dec...
2    When the menace known as the Joker wreaks havo...
3    In German-occupied Poland during World War II,...
4    The jury in a New York City murder trial is fr...
..                                                 ...
995  A world-weary political journalist picks up th...
996  Tells the story of a young woman's relentless ...
997  Pianist David Helfgott, driven by his father a...
998  A scientist finds a way of becoming invisible,...
999  The story of two men on different sides of a p...

[1000 rows x 9 columns]

In [ ]:
# 1. Carga del dataset: o	Mostrar las primeras 5 filas y un resumen con .info() y .describe().
print(df.head(5))
print(df.info())
print(df.describe())

In [ ]:
# 2. Limpieza y estructura: Identificar valores nulos y decidir si se imputan o eliminan.
valores_nulos = df.isnull().sum()
print(f"Valores nulos = {valores_nulos}")
df = df.dropna()

In [ ]:
# 2.	Limpieza y estructura
# En los años se pasa a string, porque algunos tienen formato "I 2023 o II 2024", luego se extrae el numero y se convierte a int
df['Year of Release'] = df['Year of Release'].astype(str).str.extract(r'(\d+)').astype(int)
df['Watch Time'] = df['Watch Time'].astype(int)
df['Movie Rating'] = df['Movie Rating'].astype(float)
df['Votes'] = df['Votes'].replace(',', '', regex=True).astype(int)
print(df)

In [ ]:
# 3.	Análisis descriptivo Numpy Calcular media, mediana, mínimo y máximo de rating y votes usando np.mean(), np.median(), np.min(), np.max().
# Se imprime los valores de rating y votos, y a las medias y medianas formato 2 decimales.
print(f"rating_media = {np.mean(df['Movie Rating']):.2f}")
print(f"rating_mediana = {np.median(df['Movie Rating']):.2f}")
print(f"rating_minimo = {np.min(df['Movie Rating'])}")
print(f"rating_maximo = {np.max(df['Movie Rating'])}")

print(f"votes_media = {np.mean(df['Votes']):.2f}")
print(f"votes_mediana = {np.median(df['Votes']):.2f}")
print(f"votes_minimo = {np.min(df['Votes'])}")
print(f"votes_maximo = {np.max(df['Votes'])}")

In [77]:
# 3. Usar np.ptp() (range) para encontrar la amplitud de votes y rating.
print(f"rating_amplitud = {np.ptp(df['Movie Rating'])}")
print(f"votes_amplitud = { np.ptp(df['Votes'])}")

rating_amplitud = 1.700000000000001
votes_amplitud = 2751389

In [78]:
# 4. ¿Cuántas películas hay por década?
df['Decade'] = (df['Year of Release'] // 10) * 10
agrupar_contar_decadas = df.groupby('Decade').size()
print(agrupar_contar_decadas)

Decade
1920      4
1930     12
1940     17
1950     37
1960     47
1970     53
1980     76
1990    124
2000    193
2010    180
2020     13
dtype: int64

In [ ]:
# 4. ¿Cuál es la calificación promedio por década?
calificacion_decada = df.groupby('Decade')['Movie Rating'].mean()
print(calificacion_decada)

In [ ]:
# 4. Mostrar las 10 películas mejor valoradas (rating más alto), mostrando título, año y rating.
top_valoradas = df[['Movie Name', 'Year of Release', 'Movie Rating']].sort_values(by='Movie Rating', ascending=False).head(10)
print(top_valoradas)

                                      Movie Name  Year of Release  \
0                       The Shawshank Redemption             1994
1                                  The Godfather             1972
2                                The Dark Knight             2008
3                               Schindler's List             1993
4                                   12 Angry Men             1957
5  The Lord of the Rings: The Return of the King             2003
6                          The Godfather Part II             1974
7            Spider-Man: Across the Spider-Verse             2023
8                                   Pulp Fiction             1994
9                                      Inception             2010

   Movie Rating
0           9.3
1           9.2
2           9.0
3           9.0
4           9.0
5           9.0
6           9.0
7           8.9
8           8.9
9           8.8