In [2]:
import pandas as pd
df = pd.read_csv('personas.csv')
print('1. DataFrames')
print('     1.1 Muestra las 3 primeras filas \n ')
print(df.head(3))
print('\n')
print('     1.2 Averigua el tipo de dato de cada columna \n ')
print(df.dtypes)
print('\n')

1. DataFrames
     1.1 Muestra las 3 primeras filas

   Nombre  Edad    Ciudad
0     Ana  28.0      Lima
1    Luis  35.0     Cusco
2  Carlos   NaN  Arequipa


     1.2 Averigua el tipo de dato de cada columna

Nombre     object
Edad      float64
Ciudad     object
dtype: object

In [4]:
print('2. Selección de datos')
print('     2.1 Obtén la columna Nombre como Serie. \n')
nombres = df['Nombre']
print(nombres)
print('\n')


print('     2.2 Extrae la fila con índice 2. \n')
print(df.iloc[2])
print('\n')

print('     2.3 Obtén el valor de Ciudad de la persona llamada "Luis". \n')
ciudad_luis = df.loc[df['Nombre'] == 'Luis', 'Ciudad'].iloc[0]
print("Ciudad de Luis :", ciudad_luis)
print('\n')

2. Selección de datos
     2.1 Obtén la columna Nombre como Serie.

0       Ana
1      Luis
2    Carlos
3     María
4     Jorge
Name: Nombre, dtype: object


     2.2 Extrae la fila con índice 2.

Nombre      Carlos
Edad           NaN
Ciudad    Arequipa
Name: 2, dtype: object


     2.3 Obtén el valor de Ciudad de la persona llamada "Luis".

Ciudad de Luis : Cusco

In [5]:
print('3. Métodos básicos\n')
print('     3.1 Usa .describe() para conocer estadísticas.\n')
print(df.describe())
print('\n')

print('     3.2 Muestra cuántas personas hay por ciudad (value_counts). \n')
print(df['Ciudad'].value_counts())
print('\n')

3. Métodos básicos

     3.1 Usa .describe() para conocer estadísticas.

            Edad
count   4.000000
mean   31.250000
std     7.889867
min    22.000000
25%    26.500000
50%    31.500000
75%    36.250000
max    40.000000


     3.2 Muestra cuántas personas hay por ciudad (value_counts).

Ciudad
Lima        2
Cusco       1
Arequipa    1
Trujillo    1
Name: count, dtype: int64

In [6]:
print('4. Limpieza')
print('     4.1 Elimina valores nulos en la columna Edad. \n')
df_limpio = df.dropna(subset=['Edad'])
print(df_limpio)
print('\n')

print('     4.2.1 Elimina la columna Ciudad.\n')
df_sin_ciudad = df.drop(columns=['Ciudad'])
print(df_sin_ciudad.head())
print('\n')
print('     4.2.2 restáurala cargando de nuevo el CSV.\n')
df = pd.read_csv('personas.csv')
print(df.head())

4. Limpieza
     4.1 Elimina valores nulos en la columna Edad.

  Nombre  Edad    Ciudad
0    Ana  28.0      Lima
1   Luis  35.0     Cusco
3  María  22.0      Lima
4  Jorge  40.0  Trujillo


     4.2.1 Elimina la columna Ciudad.

   Nombre  Edad
0     Ana  28.0
1    Luis  35.0
2  Carlos   NaN
3   María  22.0
4   Jorge  40.0


     4.2.2 restáurala cargando de nuevo el CSV.

   Nombre  Edad    Ciudad
0     Ana  28.0      Lima
1    Luis  35.0     Cusco
2  Carlos   NaN  Arequipa
3   María  22.0      Lima
4   Jorge  40.0  Trujillo