In [ ]:
import pandas as pd
import numpy as np

# 1.1 Carga de bios.csv 
df_bios = pd.read_csv('bios.csv')
print(df_bios.head(), '\n')

1.1 Data original:
                                       Roles   Sex  \
0                  Competed in Olympic Games  Male
1                  Competed in Olympic Games  Male
2  Competed in Olympic Games • Administrator  Male
3                  Competed in Olympic Games  Male
4                  Competed in Olympic Games  Male

                                           Full name              Used name  \
0  François Joseph Marie Antoine "Jean-François"•...  Jean-François•Blanchy
1                            Arnaud Benjamin•Boetsch         Arnaud•Boetsch
2                        Jean Laurent Robert•Borotra           Jean•Borotra
3               Jacques Marie Stanislas Jean•Brugnon        Jacques•Brugnon
4                                 Henry Albert•Canet           Albert•Canet

                                                Born  \
0        12 December 1886 in Bordeaux, Gironde (FRA)
1             1 April 1969 in Meulan, Yvelines (FRA)
2  13 August 1898 in Biarritz, Pyrénées-Atlantiqu...
3            11 May 1895 in Paris VIIIe, Paris (FRA)
4         17 April 1878 in Wandsworth, England (GBR)

                                                Died     NOC  athlete_id  \
0  2 October 1960 in Saint-Jean-de-Luz, Pyrénées-...  France           1
1                                                NaN  France           2
2  17 July 1994 in Arbonne, Pyrénées-Atlantiques ...  France           3
3              20 March 1978 in Monaco, Monaco (MON)  France           4
4            25 July 1930 in Paris VIIe, Paris (FRA)  France           5

     Measurements                         Affiliations  \
0             NaN                                  NaN
1  183 cm / 76 kg   Racing Club de France, Paris (FRA)
2  183 cm / 76 kg                     TCP, Paris (FRA)
3  168 cm / 64 kg  Sporting club de Paris, Paris (FRA)
4             NaN                     TCP, Paris (FRA)

                                Nick/petnames Title(s) Other names  \
0                                         NaN      NaN         NaN
1                                         NaN      NaN         NaN
2  Le Basque Bondissant (The Bounding Basque)      NaN         NaN
3                                        Toto      NaN         NaN
4                                         NaN      NaN         NaN

  Nationality Original name Name order
0         NaN           NaN        NaN
1         NaN           NaN        NaN
2         NaN           NaN        NaN
3         NaN           NaN        NaN
4         NaN           NaN        NaN

In [ ]:
# 1.2 Eliminar viñetas en "Used name" 
if 'Used name' in df_bios.columns:
    df_bios['Used name'] = df_bios['Used name'].astype(str).str.replace('•', '', regex=False).str.strip()
    print('1.2 "Used name" sin viñetas:')
    print(df_bios['Used name'].head(), '\n')

1.2 "Used name" sin viñetas:
0    Jean-FrançoisBlanchy
1           ArnaudBoetsch
2             JeanBorotra
3          JacquesBrugnon
4             AlbertCanet
Name: Used name, dtype: object

In [ ]:
# 1.3 Separar altura y peso desde la columna 'Measurements' 
# Se Extrae los números para altura (cm)/(kg)
df_bios[['Height', 'Weight']] = df_bios['Measurements'].str.extract(r'(\d{2,3})\s*cm\s*/\s*(\d{2,3})\s*kg', expand=True)
df_bios['Height'] = pd.to_numeric(df_bios['Height'], errors='coerce')
df_bios['Weight'] = pd.to_numeric(df_bios['Weight'], errors='coerce')
print(df_bios[['Measurements', 'Height', 'Weight']].head(), '\n')

1.3 Altura y peso separados:
     Measurements  Height  Weight
0             NaN     NaN     NaN
1  183 cm / 76 kg   183.0    76.0
2  183 cm / 76 kg   183.0    76.0
3  168 cm / 64 kg   168.0    64.0
4             NaN     NaN     NaN

In [ ]:
# 1.4. Extraer fechas de 'Born' y 'Died'
df_bios['Born_date'] = df_bios['Born'].str.extract(r'^(\d{1,2} \w+ \d{4})')
df_bios['Died_date'] = df_bios['Died'].str.extract(r'^(\d{1,2} \w+ \d{4})')

print(df_bios['Born_date'])
print('\n')
print(df_bios['Died_date'])

0          12 December 1886
1              1 April 1969
2            13 August 1898
3               11 May 1895
4             17 April 1878
                ...
145495      30 January 2002
145496    20 September 1999
145497           8 May 1998
145498          19 May 1899
145499         15 July 1913
Name: Born_date, Length: 145500, dtype: object


0          2 October 1960
1                     NaN
2            17 July 1994
3           20 March 1978
4            25 July 1930
               ...
145495                NaN
145496                NaN
145497                NaN
145498      18 March 1986
145499    20 October 2003
Name: Died_date, Length: 145500, dtype: object

In [35]:
#  1.5 Extraer ciudad, región, país desde Born_Place

df_bios['Born_City'] = df_bios['Born'].str.split(' in ').str[-1].str.split(',').str[0]
df_bios['Born_Region'] = df_bios['Born'].str.split(' in ').str[-1].str.split(',').str[1].str.split(' ').str[1]
df_bios['Born_Country'] = df_bios['Born'].str.split(' in ').str[-1].str.split(',').str[1].str.split(' ').str[-1]
print(df_bios[['Born_City', 'Born_Region', 'Born_Country']].head(), '\n')

     Born_City           Born_Region Born_Country
0     Bordeaux               Gironde        (FRA)
1       Meulan              Yvelines        (FRA)
2     Biarritz  Pyrénées-Atlantiques        (FRA)
3  Paris VIIIe                 Paris        (FRA)
4   Wandsworth               England        (GBR)

In [36]:
#  1.6 Eliminar columnas adicionales innecesarias 
columnas_original = ['Roles','Sex','Full name','Used name','Born','Died','NOC','athlete_id','Measurements','Affiliations','Nick/petnames','Title(s)','Other names','Nationality','Original name','Name order'
]
columnas_existentes = [c for c in columnas_original if c in df_bios.columns]
df_bios = df_bios[columnas_existentes]
print(df_bios.head(), '\n')

                                       Roles   Sex  \
0                  Competed in Olympic Games  Male
1                  Competed in Olympic Games  Male
2  Competed in Olympic Games • Administrator  Male
3                  Competed in Olympic Games  Male
4                  Competed in Olympic Games  Male

                                           Full name             Used name  \
0  François Joseph Marie Antoine "Jean-François"•...  Jean-FrançoisBlanchy
1                            Arnaud Benjamin•Boetsch         ArnaudBoetsch
2                        Jean Laurent Robert•Borotra           JeanBorotra
3               Jacques Marie Stanislas Jean•Brugnon        JacquesBrugnon
4                                 Henry Albert•Canet           AlbertCanet

                                                Born  \
0        12 December 1886 in Bordeaux, Gironde (FRA)
1             1 April 1969 in Meulan, Yvelines (FRA)
2  13 August 1898 in Biarritz, Pyrénées-Atlantiqu...
3            11 May 1895 in Paris VIIIe, Paris (FRA)
4         17 April 1878 in Wandsworth, England (GBR)

                                                Died     NOC  athlete_id  \
0  2 October 1960 in Saint-Jean-de-Luz, Pyrénées-...  France           1
1                                                NaN  France           2
2  17 July 1994 in Arbonne, Pyrénées-Atlantiques ...  France           3
3              20 March 1978 in Monaco, Monaco (MON)  France           4
4            25 July 1930 in Paris VIIe, Paris (FRA)  France           5

     Measurements                         Affiliations  \
0             NaN                                  NaN
1  183 cm / 76 kg   Racing Club de France, Paris (FRA)
2  183 cm / 76 kg                     TCP, Paris (FRA)
3  168 cm / 64 kg  Sporting club de Paris, Paris (FRA)
4             NaN                     TCP, Paris (FRA)

                                Nick/petnames Title(s) Other names  \
0                                         NaN      NaN         NaN
1                                         NaN      NaN         NaN
2  Le Basque Bondissant (The Bounding Basque)      NaN         NaN
3                                        Toto      NaN         NaN
4                                         NaN      NaN         NaN

  Nationality Original name Name order
0         NaN           NaN        NaN
1         NaN           NaN        NaN
2         NaN           NaN        NaN
3         NaN           NaN        NaN
4         NaN           NaN        NaN

In [ ]:
#1.7 Archivo 'bios.csv' guardado
df_bios.to_csv('bios.csv', index=False)

In [55]:
#2
import pandas as pd
import numpy as np

# Carga el archivo
df_results = pd.read_csv('results.csv')
print('Data original:\n', df_results.head(), '\n')

Data original:
                   Games                     Event             Team  Pos Medal  \
0  1912 Summer Olympics    Singles, Men (Olympic)              NaN  =17   NaN
1  1912 Summer Olympics    Doubles, Men (Olympic)   Jean Montariol  DNS   NaN
2  1920 Summer Olympics    Singles, Men (Olympic)              NaN  =32   NaN
3  1920 Summer Olympics  Doubles, Mixed (Olympic)  Jeanne Vaussard   =8   NaN
4  1920 Summer Olympics    Doubles, Men (Olympic)  Jacques Brugnon    4   NaN

                      As  athlete_id  NOC Discipline Nationality  Unnamed: 7
0  Jean-François Blanchy           1  FRA     Tennis         NaN         NaN
1  Jean-François Blanchy           1  FRA     Tennis         NaN         NaN
2  Jean-François Blanchy           1  FRA     Tennis         NaN         NaN
3  Jean-François Blanchy           1  FRA     Tennis         NaN         NaN
4  Jean-François Blanchy           1  FRA     Tennis         NaN         NaN

C:\Users\paulc\AppData\Local\Temp\ipykernel_25256\187896261.py:6: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df_results = pd.read_csv('results.csv')

In [ ]:
# 2.1. Separar el año y el tipo de la columna Games
df_results['Games_Year'] = df_results['Games'].str.extract(r'(\d{4})')
df_results['Games_Type'] = df_results['Games'].str.replace(r'\d{4}', '', regex=True).str.strip(' -_')
print( df_results[['Games', 'Games_Year', 'Games_Type']].head(), '\n')

                  Games Games_Year       Games_Type
0  1912 Summer Olympics       1912  Summer Olympics
1  1912 Summer Olympics       1912  Summer Olympics
2  1920 Summer Olympics       1920  Summer Olympics
3  1920 Summer Olympics       1920  Summer Olympics
4  1920 Summer Olympics       1920  Summer Olympics

In [ ]:
# 2.2 Separar la columna de empates (tied) de la columna Pos
df_results['Pos_pos'] = df_results['Pos'].str.extract(r'(\d+)')
df_results['Pos_Tied'] = df_results['Pos'].str.startswith('=').replace({True: 'Empate', False: 'No empate'})
print('Separación "Pos" y "Tied":\n', df_results[['Pos', 'Pos_pos', 'Pos_Tied']].head(), '\n')

Separación "Pos" y "Tied":
    Pos Pos_pos   Pos_Tied
0  =17      17     Empate
1  DNS     NaN  No empate
2  =32      32     Empate
3   =8       8     Empate
4    4       4  No empate

In [56]:
# 2.3. Convertir en NaN los valores no numéricos en la columna Pos
df_results['Pos'] = pd.to_numeric(df_results['Pos'], errors='coerce')
print('Pos numérico (NaN si no es número):\n', df_results['Pos'].head(), '\n')

Pos numérico (NaN si no es número):
 0    NaN
1    NaN
2    NaN
3    NaN
4    4.0
Name: Pos, dtype: float64

In [57]:
# 2.4. Eliminar la columna sin nombre (Unnamed)
cols_sin_nombre = [col for col in df_results.columns if 'unnamed' in col.lower()]
df_results = df_results.drop(columns=cols_sin_nombre)
if cols_sin_nombre:
    print(f'Columnas sin nombre eliminadas: {cols_sin_nombre}\n')

Columnas sin nombre eliminadas: ['Unnamed: 7']

In [58]:
# 2.5. Reordenar las columnas
# Cambia el orden según el contenido real de tu archivo
columnas_orden = ['Athlete', 'Games', 'Games_Year', 'Games_Type', 
                  'Event', 'Position', 'Pos', 'Tied', 'Medal']
columnas_orden = [c for c in columnas_orden if c in df_results.columns]
resto = [c for c in df_results.columns if c not in columnas_orden]
df_results = df_results[columnas_orden + resto]
print('Data reordenada:\n', df_results.head(), '\n')

Data reordenada:
                   Games                     Event  Pos Medal             Team  \
0  1912 Summer Olympics    Singles, Men (Olympic)  NaN   NaN              NaN
1  1912 Summer Olympics    Doubles, Men (Olympic)  NaN   NaN   Jean Montariol
2  1920 Summer Olympics    Singles, Men (Olympic)  NaN   NaN              NaN
3  1920 Summer Olympics  Doubles, Mixed (Olympic)  NaN   NaN  Jeanne Vaussard
4  1920 Summer Olympics    Doubles, Men (Olympic)  4.0   NaN  Jacques Brugnon

                      As  athlete_id  NOC Discipline Nationality
0  Jean-François Blanchy           1  FRA     Tennis         NaN
1  Jean-François Blanchy           1  FRA     Tennis         NaN
2  Jean-François Blanchy           1  FRA     Tennis         NaN
3  Jean-François Blanchy           1  FRA     Tennis         NaN
4  Jean-François Blanchy           1  FRA     Tennis         NaN

In [59]:

# 2.6. Guardar el DataFrame ya limpio
df_results.to_csv('results_limpio.csv', index=False)
print('Archivo actualizado: results_limpio.csv\n')

Archivo actualizado: results_limpio.csv