In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (2.3.1)
Requirement already satisfied: numpy>=1.23.2 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\appdata\roaming\python\python311\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.0 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
pip install numpy

Requirement already satisfied: numpy in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (2.3.2)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.0 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [23]:
import pandas as pd
import numpy as np
df_original = pd.read_csv('bios.csv')
df_original.head()

,Roles,Sex,Full name,Used name,Born,Died,NOC,athlete_id,Measurements,Affiliations,Nick/petnames,Title(s),Other names,Nationality,Original name,Name order
0,Competed in Olympic Games,Male,"François Joseph Marie Antoine ""Jean-François""•...",Jean-François•Blanchy,"12 December 1886 in Bordeaux, Gironde (FRA)","2 October 1960 in Saint-Jean-de-Luz, Pyrénées-...",France,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Competed in Olympic Games,Male,Arnaud Benjamin•Boetsch,Arnaud•Boetsch,"1 April 1969 in Meulan, Yvelines (FRA)",NaN,France,2,183 cm / 76 kg,"Racing Club de France, Paris (FRA)",NaN,NaN,NaN,NaN,NaN,NaN
2,Competed in Olympic Games • Administrator,Male,Jean Laurent Robert•Borotra,Jean•Borotra,"13 August 1898 in Biarritz, Pyrénées-Atlantiqu...","17 July 1994 in Arbonne, Pyrénées-Atlantiques ...",France,3,183 cm / 76 kg,"TCP, Paris (FRA)",Le Basque Bondissant (The Bounding Basque),NaN,NaN,NaN,NaN,NaN
3,Competed in Olympic Games,Male,Jacques Marie Stanislas Jean•Brugnon,Jacques•Brugnon,"11 May 1895 in Paris VIIIe, Paris (FRA)","20 March 1978 in Monaco, Monaco (MON)",France,4,168 cm / 64 kg,"Sporting club de Paris, Paris (FRA)",Toto,NaN,NaN,NaN,NaN,NaN
4,Competed in Olympic Games,Male,Henry Albert•Canet,Albert•Canet,"17 April 1878 in Wandsworth, England (GBR)","25 July 1930 in Paris VIIe, Paris (FRA)",France,5,NaN,"TCP, Paris (FRA)",NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
for col in ['Used name', 'Full name']:
    if col in df_original.columns:
        df_original[col] = df_original[col].str.replace('•', '', regex=False).str.strip()

df_original.head()

,Roles,Sex,Full name,Used name,Born,Died,NOC,athlete_id,Measurements,Affiliations,Nick/petnames,Title(s),Other names,Nationality,Original name,Name order
0,Competed in Olympic Games,Male,"François Joseph Marie Antoine ""Jean-François""B...",Jean-FrançoisBlanchy,"12 December 1886 in Bordeaux, Gironde (FRA)","2 October 1960 in Saint-Jean-de-Luz, Pyrénées-...",France,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Competed in Olympic Games,Male,Arnaud BenjaminBoetsch,ArnaudBoetsch,"1 April 1969 in Meulan, Yvelines (FRA)",NaN,France,2,183 cm / 76 kg,"Racing Club de France, Paris (FRA)",NaN,NaN,NaN,NaN,NaN,NaN
2,Competed in Olympic Games • Administrator,Male,Jean Laurent RobertBorotra,JeanBorotra,"13 August 1898 in Biarritz, Pyrénées-Atlantiqu...","17 July 1994 in Arbonne, Pyrénées-Atlantiques ...",France,3,183 cm / 76 kg,"TCP, Paris (FRA)",Le Basque Bondissant (The Bounding Basque),NaN,NaN,NaN,NaN,NaN
3,Competed in Olympic Games,Male,Jacques Marie Stanislas JeanBrugnon,JacquesBrugnon,"11 May 1895 in Paris VIIIe, Paris (FRA)","20 March 1978 in Monaco, Monaco (MON)",France,4,168 cm / 64 kg,"Sporting club de Paris, Paris (FRA)",Toto,NaN,NaN,NaN,NaN,NaN
4,Competed in Olympic Games,Male,Henry AlbertCanet,AlbertCanet,"17 April 1878 in Wandsworth, England (GBR)","25 July 1930 in Paris VIIe, Paris (FRA)",France,5,NaN,"TCP, Paris (FRA)",NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
df_original[["Height", "Weight"]] = df_original["Measurements"].str.extract(r"([^/]+)\s*/\s*([^/]+)")
df_original["Height"] = df_original["Height"].str.strip()
df_original["Weight"] = df_original["Weight"].str.strip()
df_original[["Measurements", "Height", "Weight"]].head()

df_original.head()

,Roles,Sex,Full name,Used name,Born,Died,NOC,athlete_id,Measurements,Affiliations,Nick/petnames,Title(s),Other names,Nationality,Original name,Name order,Height_cm,Weight_kg,Height,Weight
0,Competed in Olympic Games,Male,"François Joseph Marie Antoine ""Jean-François""B...",Jean-FrançoisBlanchy,"12 December 1886 in Bordeaux, Gironde (FRA)","2 October 1960 in Saint-Jean-de-Luz, Pyrénées-...",France,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Competed in Olympic Games,Male,Arnaud BenjaminBoetsch,ArnaudBoetsch,"1 April 1969 in Meulan, Yvelines (FRA)",NaN,France,2,183 cm / 76 kg,"Racing Club de France, Paris (FRA)",NaN,NaN,NaN,NaN,NaN,NaN,183.0,76.0,183 cm,76 kg
2,Competed in Olympic Games • Administrator,Male,Jean Laurent RobertBorotra,JeanBorotra,"13 August 1898 in Biarritz, Pyrénées-Atlantiqu...","17 July 1994 in Arbonne, Pyrénées-Atlantiques ...",France,3,183 cm / 76 kg,"TCP, Paris (FRA)",Le Basque Bondissant (The Bounding Basque),NaN,NaN,NaN,NaN,NaN,183.0,76.0,183 cm,76 kg
3,Competed in Olympic Games,Male,Jacques Marie Stanislas JeanBrugnon,JacquesBrugnon,"11 May 1895 in Paris VIIIe, Paris (FRA)","20 March 1978 in Monaco, Monaco (MON)",France,4,168 cm / 64 kg,"Sporting club de Paris, Paris (FRA)",Toto,NaN,NaN,NaN,NaN,NaN,168.0,64.0,168 cm,64 kg
4,Competed in Olympic Games,Male,Henry AlbertCanet,AlbertCanet,"17 April 1878 in Wandsworth, England (GBR)","25 July 1930 in Paris VIIe, Paris (FRA)",France,5,NaN,"TCP, Paris (FRA)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
for col in ['Born', 'Died']:
    if col in df_original.columns:
            df_original[col + '_date'] = pd.to_datetime(
            df_original[col].str.extract(r'(\d{1,2}\s+\w+\s+\d{4})')[0],
            errors='coerce',
            format='%d %B %Y'
        )
df_original.head()

,Roles,Sex,Full name,Used name,Born,Died,NOC,athlete_id,Measurements,Affiliations,...,Other names,Nationality,Original name,Name order,Height_cm,Weight_kg,Height,Weight,Born_date,Died_date
0,Competed in Olympic Games,Male,"François Joseph Marie Antoine ""Jean-François""B...",Jean-FrançoisBlanchy,"12 December 1886 in Bordeaux, Gironde (FRA)","2 October 1960 in Saint-Jean-de-Luz, Pyrénées-...",France,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1886-12-12,1960-10-02
1,Competed in Olympic Games,Male,Arnaud BenjaminBoetsch,ArnaudBoetsch,"1 April 1969 in Meulan, Yvelines (FRA)",NaN,France,2,183 cm / 76 kg,"Racing Club de France, Paris (FRA)",...,NaN,NaN,NaN,NaN,183.0,76.0,183 cm,76 kg,1969-04-01,NaT
2,Competed in Olympic Games • Administrator,Male,Jean Laurent RobertBorotra,JeanBorotra,"13 August 1898 in Biarritz, Pyrénées-Atlantiqu...","17 July 1994 in Arbonne, Pyrénées-Atlantiques ...",France,3,183 cm / 76 kg,"TCP, Paris (FRA)",...,NaN,NaN,NaN,NaN,183.0,76.0,183 cm,76 kg,1898-08-13,1994-07-17
3,Competed in Olympic Games,Male,Jacques Marie Stanislas JeanBrugnon,JacquesBrugnon,"11 May 1895 in Paris VIIIe, Paris (FRA)","20 March 1978 in Monaco, Monaco (MON)",France,4,168 cm / 64 kg,"Sporting club de Paris, Paris (FRA)",...,NaN,NaN,NaN,NaN,168.0,64.0,168 cm,64 kg,1895-05-11,1978-03-20
4,Competed in Olympic Games,Male,Henry AlbertCanet,AlbertCanet,"17 April 1878 in Wandsworth, England (GBR)","25 July 1930 in Paris VIIe, Paris (FRA)",France,5,NaN,"TCP, Paris (FRA)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1878-04-17,1930-07-25

In [32]:
if 'Born' in df_original.columns:
    place_parts = df_original['Born'].str.extract(r'in\s+(.+)$')[0].str.split(',', expand=True)
if place_parts.shape[1] >= 3:
    df_original['Born_city'] = place_parts[0].str.strip()
    df_original['Born_region'] = place_parts[1].str.strip()
    df_original['Born_country'] = place_parts[2].str.strip()
elif place_parts.shape[1] == 2:
    df_original['Born_city'] = place_parts[0].str.strip()
    df_original['Born_country'] = place_parts[1].str.strip()
df_original.head()

,Roles,Sex,Full name,Used name,Born,Died,NOC,athlete_id,Measurements,Affiliations,...,Name order,Height_cm,Weight_kg,Height,Weight,Born_date,Died_date,Born_city,Born_region,Born_country
0,Competed in Olympic Games,Male,"François Joseph Marie Antoine ""Jean-François""B...",Jean-FrançoisBlanchy,"12 December 1886 in Bordeaux, Gironde (FRA)","2 October 1960 in Saint-Jean-de-Luz, Pyrénées-...",France,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1886-12-12,1960-10-02,Bordeaux,Gironde (FRA),None
1,Competed in Olympic Games,Male,Arnaud BenjaminBoetsch,ArnaudBoetsch,"1 April 1969 in Meulan, Yvelines (FRA)",NaN,France,2,183 cm / 76 kg,"Racing Club de France, Paris (FRA)",...,NaN,183.0,76.0,183 cm,76 kg,1969-04-01,NaT,Meulan,Yvelines (FRA),None
2,Competed in Olympic Games • Administrator,Male,Jean Laurent RobertBorotra,JeanBorotra,"13 August 1898 in Biarritz, Pyrénées-Atlantiqu...","17 July 1994 in Arbonne, Pyrénées-Atlantiques ...",France,3,183 cm / 76 kg,"TCP, Paris (FRA)",...,NaN,183.0,76.0,183 cm,76 kg,1898-08-13,1994-07-17,Biarritz,Pyrénées-Atlantiques (FRA),None
3,Competed in Olympic Games,Male,Jacques Marie Stanislas JeanBrugnon,JacquesBrugnon,"11 May 1895 in Paris VIIIe, Paris (FRA)","20 March 1978 in Monaco, Monaco (MON)",France,4,168 cm / 64 kg,"Sporting club de Paris, Paris (FRA)",...,NaN,168.0,64.0,168 cm,64 kg,1895-05-11,1978-03-20,Paris VIIIe,Paris (FRA),None
4,Competed in Olympic Games,Male,Henry AlbertCanet,AlbertCanet,"17 April 1878 in Wandsworth, England (GBR)","25 July 1930 in Paris VIIe, Paris (FRA)",France,5,NaN,"TCP, Paris (FRA)",...,NaN,NaN,NaN,NaN,NaN,1878-04-17,1930-07-25,Wandsworth,England (GBR),None

In [33]:
cols_drop_bios = [
    'Measurements', 'Affiliations', 'Nick/petnames', 'Title(s)',
    'Other names', 'Original name', 'Name order'
]
df_original.drop(columns=[c for c in cols_drop_bios if c in df_original.columns], inplace=True)
df_original.head()

,Roles,Sex,Full name,Used name,Born,Died,NOC,athlete_id,Nationality,Height_cm,Weight_kg,Height,Weight,Born_date,Died_date,Born_city,Born_region,Born_country
0,Competed in Olympic Games,Male,"François Joseph Marie Antoine ""Jean-François""B...",Jean-FrançoisBlanchy,"12 December 1886 in Bordeaux, Gironde (FRA)","2 October 1960 in Saint-Jean-de-Luz, Pyrénées-...",France,1,NaN,NaN,NaN,NaN,NaN,1886-12-12,1960-10-02,Bordeaux,Gironde (FRA),None
1,Competed in Olympic Games,Male,Arnaud BenjaminBoetsch,ArnaudBoetsch,"1 April 1969 in Meulan, Yvelines (FRA)",NaN,France,2,NaN,183.0,76.0,183 cm,76 kg,1969-04-01,NaT,Meulan,Yvelines (FRA),None
2,Competed in Olympic Games • Administrator,Male,Jean Laurent RobertBorotra,JeanBorotra,"13 August 1898 in Biarritz, Pyrénées-Atlantiqu...","17 July 1994 in Arbonne, Pyrénées-Atlantiques ...",France,3,NaN,183.0,76.0,183 cm,76 kg,1898-08-13,1994-07-17,Biarritz,Pyrénées-Atlantiques (FRA),None
3,Competed in Olympic Games,Male,Jacques Marie Stanislas JeanBrugnon,JacquesBrugnon,"11 May 1895 in Paris VIIIe, Paris (FRA)","20 March 1978 in Monaco, Monaco (MON)",France,4,NaN,168.0,64.0,168 cm,64 kg,1895-05-11,1978-03-20,Paris VIIIe,Paris (FRA),None
4,Competed in Olympic Games,Male,Henry AlbertCanet,AlbertCanet,"17 April 1878 in Wandsworth, England (GBR)","25 July 1930 in Paris VIIe, Paris (FRA)",France,5,NaN,NaN,NaN,NaN,NaN,1878-04-17,1930-07-25,Wandsworth,England (GBR),None

In [35]:
df_original['Height_cm'] = df_original['Height_cm'].astype(float)
df_original['Weight_kg'] = df_original['Weight_kg'].astype(float)
df_original.to_csv('bios_JeanCarloVelardeUrbina.csv', index=False, encoding='utf-8-sig')
df_original.head()

,Roles,Sex,Full name,Used name,Born,Died,NOC,athlete_id,Nationality,Height_cm,Weight_kg,Height,Weight,Born_date,Died_date,Born_city,Born_region,Born_country
0,Competed in Olympic Games,Male,"François Joseph Marie Antoine ""Jean-François""B...",Jean-FrançoisBlanchy,"12 December 1886 in Bordeaux, Gironde (FRA)","2 October 1960 in Saint-Jean-de-Luz, Pyrénées-...",France,1,NaN,NaN,NaN,NaN,NaN,1886-12-12,1960-10-02,Bordeaux,Gironde (FRA),None
1,Competed in Olympic Games,Male,Arnaud BenjaminBoetsch,ArnaudBoetsch,"1 April 1969 in Meulan, Yvelines (FRA)",NaN,France,2,NaN,183.0,76.0,183 cm,76 kg,1969-04-01,NaT,Meulan,Yvelines (FRA),None
2,Competed in Olympic Games • Administrator,Male,Jean Laurent RobertBorotra,JeanBorotra,"13 August 1898 in Biarritz, Pyrénées-Atlantiqu...","17 July 1994 in Arbonne, Pyrénées-Atlantiques ...",France,3,NaN,183.0,76.0,183 cm,76 kg,1898-08-13,1994-07-17,Biarritz,Pyrénées-Atlantiques (FRA),None
3,Competed in Olympic Games,Male,Jacques Marie Stanislas JeanBrugnon,JacquesBrugnon,"11 May 1895 in Paris VIIIe, Paris (FRA)","20 March 1978 in Monaco, Monaco (MON)",France,4,NaN,168.0,64.0,168 cm,64 kg,1895-05-11,1978-03-20,Paris VIIIe,Paris (FRA),None
4,Competed in Olympic Games,Male,Henry AlbertCanet,AlbertCanet,"17 April 1878 in Wandsworth, England (GBR)","25 July 1930 in Paris VIIe, Paris (FRA)",France,5,NaN,NaN,NaN,NaN,NaN,1878-04-17,1930-07-25,Wandsworth,England (GBR),None

In [36]:
df_results = pd.read_csv('results.csv')
df_results.head()

C:\Users\User\AppData\Local\Temp\ipykernel_6612\537805551.py:1: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df_results = pd.read_csv('results.csv')

,Games,Event,Team,Pos,Medal,As,athlete_id,NOC,Discipline,Nationality,Unnamed: 7
0,1912 Summer Olympics,"Singles, Men (Olympic)",NaN,=17,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,NaN
1,1912 Summer Olympics,"Doubles, Men (Olympic)",Jean Montariol,DNS,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,NaN
2,1920 Summer Olympics,"Singles, Men (Olympic)",NaN,=32,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,NaN
3,1920 Summer Olympics,"Doubles, Mixed (Olympic)",Jeanne Vaussard,=8,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,NaN
4,1920 Summer Olympics,"Doubles, Men (Olympic)",Jacques Brugnon,4,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,NaN

In [37]:
if 'Games' in df_results.columns:
    df_results['Year'] = df_results['Games'].str.extract(r'(\d{4})').astype(float).astype('Int64')
    df_results['Season'] = df_results['Games'].str.extract(r'\d{4}\s+(\w+)')
df_results.head()

,Games,Event,Team,Pos,Medal,As,athlete_id,NOC,Discipline,Nationality,Unnamed: 7,Year,Season
0,1912 Summer Olympics,"Singles, Men (Olympic)",NaN,=17,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,NaN,1912,Summer
1,1912 Summer Olympics,"Doubles, Men (Olympic)",Jean Montariol,DNS,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,NaN,1912,Summer
2,1920 Summer Olympics,"Singles, Men (Olympic)",NaN,=32,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,NaN,1920,Summer
3,1920 Summer Olympics,"Doubles, Mixed (Olympic)",Jeanne Vaussard,=8,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,NaN,1920,Summer
4,1920 Summer Olympics,"Doubles, Men (Olympic)",Jacques Brugnon,4,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,NaN,1920,Summer

In [38]:
if 'Pos' in df_results.columns:
    df_results['Tied'] = df_results['Pos'].astype(str).str.contains('=', regex=False)
    df_results['Pos'] = pd.to_numeric(df_results['Pos'].astype(str).str.replace('=', '', regex=False), errors='coerce')
df_results.head()

,Games,Event,Team,Pos,Medal,As,athlete_id,NOC,Discipline,Nationality,Unnamed: 7,Year,Season,Tied
0,1912 Summer Olympics,"Singles, Men (Olympic)",NaN,17.0,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,NaN,1912,Summer,True
1,1912 Summer Olympics,"Doubles, Men (Olympic)",Jean Montariol,NaN,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,NaN,1912,Summer,False
2,1920 Summer Olympics,"Singles, Men (Olympic)",NaN,32.0,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,NaN,1920,Summer,True
3,1920 Summer Olympics,"Doubles, Mixed (Olympic)",Jeanne Vaussard,8.0,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,NaN,1920,Summer,True
4,1920 Summer Olympics,"Doubles, Men (Olympic)",Jacques Brugnon,4.0,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,NaN,1920,Summer,False

In [39]:
df_results = df_results.loc[:, ~df_results.columns.str.contains('^Unnamed')]
df_results.head()

,Games,Event,Team,Pos,Medal,As,athlete_id,NOC,Discipline,Nationality,Year,Season,Tied
0,1912 Summer Olympics,"Singles, Men (Olympic)",NaN,17.0,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,1912,Summer,True
1,1912 Summer Olympics,"Doubles, Men (Olympic)",Jean Montariol,NaN,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,1912,Summer,False
2,1920 Summer Olympics,"Singles, Men (Olympic)",NaN,32.0,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,1920,Summer,True
3,1920 Summer Olympics,"Doubles, Mixed (Olympic)",Jeanne Vaussard,8.0,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,1920,Summer,True
4,1920 Summer Olympics,"Doubles, Men (Olympic)",Jacques Brugnon,4.0,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,1920,Summer,False

In [40]:
column_order = [
    'Year', 'Season', 'Games', 'Event', 'Team', 'Pos', 'Tied', 'Medal',
    'As', 'athlete_id', 'NOC', 'Discipline', 'Nationality'
]
df_results = df_results[[c for c in column_order if c in df_results.columns]]
df_results.head()

,Year,Season,Games,Event,Team,Pos,Tied,Medal,As,athlete_id,NOC,Discipline,Nationality
0,1912,Summer,1912 Summer Olympics,"Singles, Men (Olympic)",NaN,17.0,True,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN
1,1912,Summer,1912 Summer Olympics,"Doubles, Men (Olympic)",Jean Montariol,NaN,False,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN
2,1920,Summer,1920 Summer Olympics,"Singles, Men (Olympic)",NaN,32.0,True,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN
3,1920,Summer,1920 Summer Olympics,"Doubles, Mixed (Olympic)",Jeanne Vaussard,8.0,True,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN
4,1920,Summer,1920 Summer Olympics,"Doubles, Men (Olympic)",Jacques Brugnon,4.0,False,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN

In [41]:
df_results.to_csv("results_JeanCarloVelardeUrbina.csv", index=False, encoding="utf-8-sig")

df_results.head()

,Year,Season,Games,Event,Team,Pos,Tied,Medal,As,athlete_id,NOC,Discipline,Nationality
0,1912,Summer,1912 Summer Olympics,"Singles, Men (Olympic)",NaN,17.0,True,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN
1,1912,Summer,1912 Summer Olympics,"Doubles, Men (Olympic)",Jean Montariol,NaN,False,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN
2,1920,Summer,1920 Summer Olympics,"Singles, Men (Olympic)",NaN,32.0,True,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN
3,1920,Summer,1920 Summer Olympics,"Doubles, Mixed (Olympic)",Jeanne Vaussard,8.0,True,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN
4,1920,Summer,1920 Summer Olympics,"Doubles, Men (Olympic)",Jacques Brugnon,4.0,False,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN