In [1]:
import pandas as pd

Cleaning data (Ausentismo laboral) 
Preprocessing
Visualization
-  Desarrollar intuicion
-  Concentracion en varios conceptos de limpieza de datos
- Implementar especificas tareas
- Load data

In [98]:
data_1=pd.read_csv("Absenteeism-data.csv")
data_1[data_1['ID']==10]

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
6,10,22,17/07/2015,361,52,28,239.554,27,1,1,4,8
22,10,13,10/08/2015,361,52,28,205.917,27,1,1,4,40
25,10,25,24/08/2015,361,52,28,205.917,27,1,1,4,7
35,10,23,17/08/2015,361,52,28,205.917,27,1,1,4,1
78,10,23,23/10/2015,361,52,28,253.465,27,1,1,4,1
105,10,22,09/12/2015,361,52,28,261.306,27,1,1,4,8
109,10,22,16/12/2015,361,52,28,261.306,27,1,1,4,8
219,10,22,27/05/2016,361,52,28,378.884,27,1,1,4,8
221,10,22,13/06/2016,361,52,28,377.550,27,1,1,4,8
246,10,22,19/07/2016,361,52,28,275.312,27,1,1,4,8
268,10,8,08/08/2016,361,52,28,265.615,27,1,1,4,8
310,10,10,26/10/2016,361,52,28,265.017,27,1,1,4,8
399,10,22,22/03/2017,361,52,28,244.387,27,1,1,4,8
430,10,23,11/05/2017,361,52,28,246.074,27,1,1,4,1
474,10,22,28/07/2017,361,52,28,230.290,27,1,1,4,8
506,10,22,26/09/2017,361,52,28,261.756,27,1,1,4,8
540,10,22,21/11/2017,361,52,28,268.519,27,1,1,4,8
554,10,28,27/11/2017,361,52,28,268.519,27,1,1,4,2
561,10,14,14/12/2017,361,52,28,280.549,27,1,1,4,4
629,10,19,12/03/2018,361,52,28,222.196,27,1,1,4,8
656,10,19,03/04/2018,361,52,28,246.288,27,1,1,4,8
663,10,23,10/04/2018,361,52,28,246.288,27,1,1,4,2

ID TRABAJARDOR tiene igual edad, hijos, mascotas, educacion

In [57]:
data_1['ID'].value_counts()

ID
3     113
28     74
34     48
20     42
22     41
11     39
15     36
36     32
24     30
14     27
33     24
1      22
10     22
17     19
5      18
18     16
13     14
25     10
6       7
27      7
23      7
30      7
7       6
9       6
26      5
2       5
32      5
29      5
19      3
31      3
12      3
21      2
8       1
16      1
Name: count, dtype: int64

In [54]:
data_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ID                         700 non-null    int64
 1   Reason for Absence         700 non-null    int64
 2   Date                       700 non-null    object
 3   Transportation Expense     700 non-null    int64
 4   Distance to Work           700 non-null    int64
 5   Age                        700 non-null    int64
 6   Daily Work Load Average    700 non-null    float64
 7   Body Mass Index            700 non-null    int64
 8   Education                  700 non-null    int64
 9   Children                   700 non-null    int64
 10  Pets                       700 non-null    int64
 11  Absenteeism Time in Hours  700 non-null    int64
dtypes: float64(1), int64(10), object(1)
memory usage: 65.8+ KB

### Group_1 
# D TrE DW
id1
id2
.
.
idn

Drop IDcolumn 
Split the reasons for absence into multiple dummy variables:
Col 1 to 14, 
    15,16,17
    18,19,20,21
    22 to 28
After that drop the Reason for Absence
Extract month and day for week from the 'Date' column. Then drop 'Date'
Turn the data from Education into binary data, mapping 0 -1, value of 1 to the rest of the values

In [ ]:

# Filtrar razones entre 0 y 14 g1 i+14/+3/+4/+7
#Filtrar para 15:17 g2/ 18 :21 g3/ 22:28 g4
f1 = data_1['Reason for Absence'].between(0, 14) 
df_14 = data_1[f1]

# Crear variables dummy SOLO para la columna 'Reason for Absence'
reason_dummies = pd.get_dummies(df_14['Reason for Absence'], prefix='Reason') #Dummy value as Reason (motivo)

# Ordenar columnas para que vayan de 0 a 14
df_14_with_dummies=pd.concat([df_14[['ID']], reason_dummies], axis=1)
# Agrupar por ID y sumar (cuántas veces tuvo cada razón)
df_14_grouped = df_14_with_dummies.groupby('ID').sum()
print(f"=== Group {1} ===")
df_14_grouped

=== Group 1 ===

,Reason_0,Reason_1,Reason_2,Reason_3,Reason_4,Reason_5,Reason_6,Reason_7,Reason_8,Reason_9,Reason_10,Reason_11,Reason_12,Reason_13,Reason_14
ID,,,,,,,,,,,,,,,
1,1,1,0,0,0,0,0,1,0,0,0,0,0,3,1
2,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,1,1,0,0,0,2,7,1,10,0
5,5,0,0,0,0,0,0,0,0,0,0,0,0,2,0
6,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0
7,2,0,0,0,0,0,0,1,0,0,0,0,0,0,2
8,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
10,0,0,0,0,0,0,0,0,1,0,1,0,0,1,1
11,2,0,0,0,0,0,1,1,0,0,0,0,0,4,0
12,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
13,2,0,0,0,0,0,0,1,0,0,3,0,0,0,0
14,0,1,0,0,0,0,1,0,0,0,2,1,1,2,0
15,2,0,0,1,0,0,0,1,0,0,0,0,1,1,3
17,0,0,0,0,0,0,0,0,2,0,1,2,0,0,0
18,2,2,1,0,0,0,0,0,0,0,2,1,0,1,0
19,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0
20,3,2,0,0,0,0,0,0,0,0,1,1,0,3,0
21,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0
22,0,3,0,0,0,0,0,1,0,0,0,0,2,8,0
23,3,1,0,0,0,0,0,0,0,0,0,0,0,0,0
24,1,1,0,0,1,0,0,0,0,2,4,0,0,3,2
25,0,1,0,0,0,0,1,0,0,0,1,1,0,0,0
26,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1
27,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0
28,1,0,0,0,0,0,1,4,0,1,1,3,1,4,1
29,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1
30,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0
31,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0
32,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1
33,1,1,0,0,0,0,0,0,0,0,1,0,0,1,3
34,0,0,0,0,0,1,0,1,2,1,2,3,0,1,0
36,6,1,0,0,0,1,0,0,0,0,0,0,0,6,2

#Extrac the week

In [126]:
#Create funcion drop data:
def FilDF(df,atributo,i,j):
    f1 = df[atributo].between(i,j) 
    df_f = df[f1]
    return df_f

In [128]:
#Create funcion retorna dummies:
def GroupDF(df,atributo):
    # Crear variables dummy SOLO para la columna 'Reason for Absence'
    reason_dummies = pd.get_dummies(df[atributo], prefix='Reason') #Dummy value as Reason (motivo)

    # Ordenar columnas para que vayan de 0 a 14
    df_with_dummies=pd.concat([df[['ID']], reason_dummies], axis=1)
    # Agrupar por ID y sumar (cuántas veces tuvo cada razón)
    #df_grouped = df_with_dummies.groupby('ID').sum()
    return df_with_dummies.groupby('ID').sum()

In [ ]:
# Filtrar razones entre 0 y 14 g1 i+14/+3/+4/+7
#Filtrar para 15:17 g2/ 18 :21 g3/ 22:28 g4
df_1=FilDF(data_1,'Reason for Absence',0,14)
print(f"=== Group {1} ===")
GroupDF(df_1,'Reason for Absence')

,Reason_0,Reason_1,Reason_2,Reason_3,Reason_4,Reason_5,Reason_6,Reason_7,Reason_8,Reason_9,Reason_10,Reason_11,Reason_12,Reason_13,Reason_14
ID,,,,,,,,,,,,,,,
1,1,1,0,0,0,0,0,1,0,0,0,0,0,3,1
2,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,1,1,0,0,0,2,7,1,10,0
5,5,0,0,0,0,0,0,0,0,0,0,0,0,2,0
6,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0
7,2,0,0,0,0,0,0,1,0,0,0,0,0,0,2
8,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
10,0,0,0,0,0,0,0,0,1,0,1,0,0,1,1
11,2,0,0,0,0,0,1,1,0,0,0,0,0,4,0
12,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
13,2,0,0,0,0,0,0,1,0,0,3,0,0,0,0
14,0,1,0,0,0,0,1,0,0,0,2,1,1,2,0
15,2,0,0,1,0,0,0,1,0,0,0,0,1,1,3
17,0,0,0,0,0,0,0,0,2,0,1,2,0,0,0
18,2,2,1,0,0,0,0,0,0,0,2,1,0,1,0
19,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0
20,3,2,0,0,0,0,0,0,0,0,1,1,0,3,0
21,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0
22,0,3,0,0,0,0,0,1,0,0,0,0,2,8,0
23,3,1,0,0,0,0,0,0,0,0,0,0,0,0,0
24,1,1,0,0,1,0,0,0,0,2,4,0,0,3,2
25,0,1,0,0,0,0,1,0,0,0,1,1,0,0,0
26,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1
27,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0
28,1,0,0,0,0,0,1,4,0,1,1,3,1,4,1
29,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1
30,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0
31,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0
32,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1
33,1,1,0,0,0,0,0,0,0,0,1,0,0,1,3
34,0,0,0,0,0,1,0,1,2,1,2,3,0,1,0
36,6,1,0,0,0,1,0,0,0,0,0,0,0,6,2

In [ ]:
# Filtrar razones entre 0 y 14 g1 i+14/+3/+4/+7
#Filtrar para 15:17 g2/ 18 :21 g3/ 22:28 g4
df_2=FilDF(data_1,'Reason for Absence',15,17)
print(f"=== Group {2} ===")
GroupDF(df_2,'Reason for Absence')

    Reason_15  Reason_16  Reason_17
ID
17          0          2          1
20          1          0          0
25          0          1          0
26          1          0          0

In [134]:
# Filtrar razones entre 0 y 14 g1 i+14/+3/+4/+7
#Filtrar para 15:17 g2/ 18 :21 g3/ 22:28 g4
df_3=FilDF(data_1,'Reason for Absence',18,21)
print(f"=== Group {3} ===")
GroupDF(df_3,'Reason for Absence')

=== Group 3 ===

    Reason_18  Reason_19  Reason_21
ID
1           1          1          1
2           2          0          0
3           2          0          2
5           0          1          0
6           0          1          0
9           2          0          0
10          0          2          0
11          3          8          0
12          1          1          0
14          3          2          0
17          2          0          2
18          1          0          0
20          0          4          0
22          2          0          1
23          0          1          0
24          0          3          0
26          0          1          0
28          1          3          0
29          0          1          0
30          0          2          0
33          0          1          0
34          1          4          0

In [135]:
#Filtrar para 15:17 g2/ 18 :21 g3/ 22:28 g4
df_4=FilDF(data_1,'Reason for Absence',22,28)
print(f"=== Group {4} ===")
GroupDF(df_4,'Reason for Absence')

=== Group 4 ===

,Reason_22,Reason_23,Reason_24,Reason_25,Reason_26,Reason_27,Reason_28
ID,,,,,,,
1,4,4,0,2,2,0,0
2,0,1,0,0,0,0,1
3,0,19,0,2,1,38,26
5,0,2,0,0,8,0,0
6,2,2,0,0,0,0,0
7,0,1,0,0,0,0,0
9,0,0,0,2,0,0,0
10,10,4,0,1,0,0,1
11,6,5,3,0,6,0,0
13,3,3,0,0,2,0,0
14,0,6,0,2,0,0,6
15,2,10,0,0,0,0,15
16,0,1,0,0,0,0,0
17,1,1,0,5,0,0,0
18,0,3,0,1,2,0,0
19,0,0,0,0,0,0,1
20,1,3,0,0,4,0,19
22,0,11,0,1,0,12,0
23,2,0,0,0,0,0,0
24,0,1,0,0,2,0,10
25,0,1,0,3,0,0,1
26,0,0,0,0,0,0,1
27,0,5,0,0,0,0,0
28,0,33,0,6,0,4,10
29,1,0,0,0,0,0,1
30,0,0,0,1,0,0,2
32,0,1,0,0,0,0,1
33,0,11,0,2,1,0,2
34,0,8,0,1,2,12,9
36,0,11,0,0,1,0,4